$margin: 0px;
$sideWidth: 300px;
$sideMinWidth: 64px;
$toolbarMinHeight: 32px;
$toolbarHeight: 64px;
$baseColor: 10;
$toolbarColor: hsl( ($baseColor+0)%360  ,80%,50%);
$titleColor: hsl( ($baseColor+0)%360 ,80%,50%);
$sidebarColor: hsl( ($baseColor+120)%360 ,80%,70%);
$statusbarColor: hsl( ($baseColor+240)%360 ,10%,50%);
$baseHighlightColor: hsl( ($baseColor+180)%360  ,70%,80%);

.tabs-layout{
  position: relative;
  min-height: 2 * $toolbarHeight;
  .tabs-titles{
    position: absolute;
    top:0px;
    left: 0px;
    right: 32px;
    max-height: $toolbarHeight;
    white-space: nowrap;
    overflow-x: auto;

    .tab-title{
      display: inline-block;
      padding: 20px $sideMinWidth 20px $toolbarMinHeight;
      border-bottom:5px solid #00000000;
      background-color: $sidebarColor;
      cursor: pointer;
    }
    .tab-title:hover {
      border-color: $baseHighlightColor;
    }
    .tab-title[tab-selected='true']{
      background-color: $titleColor;
    }
  }
  .tabs-content{
    position: absolute;
    top: $toolbarHeight + $margin;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}